body{
   background:url(The-Avengers.jpg)no-repeat center fixed;
   background-size: cover;
}
h1{color: ghostwhite;}




.gallery img{
   width: 50%;
}


#menu{
   width: fit-content;
   height:50px;
   background-color: rgb(0, 0, 0);
   padding-top: 12px;
}

#menu a{
   color:#ffffff;
   font-family: Helvetica, sans-serif;
   font-size: 18px;
   font: decoration thickness 10px; ;
   font-weight: 800px;
   
   padding-left: 30px;
   padding-right: 30px;
}

#menu a:hover{image-rendering: crisp-edges;
   
}
p{font-size: xx-large;color: rgb(249, 254, 255);}

h1{font-size: xxx-large;font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h3{font-size: xxx-large;font-family: Verdana, Geneva, Tahoma, sans-serif;color: rgb(248, 248, 248);
}
h2{font-size: xx-large;font-family: Verdana, Geneva, Tahoma, sans-serif;color: rgb(248, 248, 248)}
h4{font-size: x-large;font-family: Verdana, Geneva, Tahoma, sans-serif;color: rgb(248, 248, 248)}
table{width:cover;;}
